/* General */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F5F5F5;
    font-family: "Sora", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

/* Navbar */

.sub-cont1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px 25px;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(45px);
    box-shadow: 0 4px 14px #b2b0ff40
}

.list1 .Name {
    font-family: "Anton SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}

.list2 {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
}

.list2 a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.button button {
    background-color: #424242;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 18px;
}

.button button img {
    margin-left: 5px;
}

.list4 {
    display: none;
}

.list4 .icon img {
    width: 30px;

}

@media (max-width:900px) {

    .list2,
    .list3 {
        display: none;
    }

    .list4 {
        display: block;
    }
}

/* About Me */

.sec1-cont{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    justify-content: space-evenly;
}
.sec1-cont1{
    padding: 20px;
    width: 50%;
    align-content: end;
}
.sec1-cont2{
    padding: 20px;
    width: 30%;
}
.sec1-cards ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 25px;
}
.sec1-card{
    margin-right: 15px;
}
.sec1-cardSet .sec1-cards .sec1-card img {
    width: 50px;
}
.sec1-Para {
    opacity: 0.5;
    padding-bottom: 30px;
    font-size: 25px;
    padding-left: 30px;
}
.sec1-Hd {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.sec1-Hd h1{
    font-size: 35px;
}
.sec1-Hd  span{
    color: brown;
    font-family: "Londrina Outline", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 45px;
}
.sec1-img,.sec1-img img{
    width: 90%;
    padding-left: 25px;
}
.sec1-cont2 .sec1-img img{
    border-radius: 50%;
}

/* Skills */

.sec2{
    width: 100%;
}
.sec2-cont{
    padding: 50px;
    padding-top: 0px;
}
.sec2-Hd{
    width: 100%;
    padding-bottom: 50px;
}
.sec2-Hd h1{
    text-align: center;
    font-size: 35px;
}
.sec2-cont2-ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.sec2-cont2-ul .skills{
    border: 2px dashed black;
    padding: 40px;
    padding-bottom: 20px;
    width: 10%;
    height: 10%;
}
.skills div {
    justify-items: center;
}
.sec2-cont2-ul .skills:hover{
    background-color: black;
    color: #F5F5F5;
}
.sec2-cont2-ul .skills p{
    padding-top: 15px;
    text-align: center;
}

/* Experience */

.sec3{
    background-color: black;
    color: #F5F5F5;
}
.sec3-cont{
    padding: 50px;
}
.sec3-cont1 .sec3-Hd{
    text-align: center;
}